* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ffffff;
}
/* =========navigation bar  */

nav {
  display: flex;
  align-items: center;
  margin: 15px 49px 0 24px;
}

.menu {
  display: flex;
  font-size: 16px;
  width: 100%;
  gap: 20px;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.search-form {
  display: flex;
  align-items: center;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.searchEvents {
  height: 42px;
  width: 300px;
  font-size: 16px;
  padding-left: 30px;
  margin-left: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 8px 0 0 8px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  pointer-events: none;
}

.mountain-group {
  display: flex;
  align-items: center;
}

.mountainView {
  height: 42px;
  width: 254px;
  font-size: 16px;
  border: 1px solid #d9d9d9;
  border-right: none;
  padding: 0 10px;
}

.mountainBtn {
  background-color: #f65858;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mountainBtn img {
  width: 20px;
  height: 20px;
}

.language {
  font-size: 14px;
}

.languagePlanet {
  width: 20px;
  height: 20px;
}

.right-bar {
  display: flex;
  align-items: center;

  gap: 22px;
}

.bar {
  display: flex;
  align-items: center;
  gap: 4px;
}

.signup {
  background-color: #00798a;
  color: white;
  width: 83px;
  height: 36px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  text-decoration: none;
  color: black;
  font-size: 14px;
  width: 60px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 118px;
  height: 34px;
}

.mobile-search {
  display: none;
}

@media (max-width: 393px) {
  .search-form {
    display: none;
  }

  .mobile-search {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .mobile-search .input-wrapper {
    display: flex;
  }

  .searchEventsMobile {
    width: 300px;
    height: 42px;
    font-size: 14px;
    padding-left: 35px;
    border: 1px solid #d9d9d9;
    border-radius: 8px 0 0 8px;
    width: 300px;
  }

  .search-icon-mobile {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
  }

  .mountainBtnMobile {
    background-color: #f65858;
    border: none;
    width: 42px;
    height: 42px;
    border-radius: 0 8px 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -1px;
    cursor: pointer;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 7px 0 24px;
    gap: 5px;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav-content {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: auto;
  }

  .right-bar {
    gap: 19px;
  }

  .logo {
    width: 94px;
    height: 34px;
  }

  .login,
  .language {
    font-size: 12px;
  }

  .languagePlanet {
    width: 17px;
    height: 17px;
  }

  .signup {
    width: 71px;
    height: 30px;
    font-size: 12px;
  }
}
/* =========header  */
.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 70px;
  gap: 46px;
  padding: 0 16px;
}

.intrudiction {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 601px;
  max-width: 100%;

  min-width: 0;
}

.intrudiction h1 {
  font-size: 42px;

  text-align: left;
  line-height: 52px;
}

.eventDisc {
  font-size: 16px;

  text-align: left;
  line-height: 24px;
}

.joinMeetupBtn {
  width: 125px;
  height: 40px;
  background-color: #00798a;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 98px;
}

@media (max-width: 393px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
  }

  .joinMeetupBtn {
    width: 100px;
    height: 30px;
    font-size: 12px;
  }

  .intrudiction {
    gap: 20px;
  }

  .intrudiction h1 {
    font-size: 25px;
    width: 352px;
    line-height: 30px;
  }

  .eventDisc {
    font-size: 12px;
    width: 358px;
    line-height: 24px;
  }

  .headerImg {
    width: 215px;
    height: 152px;
  }
}

/* =========header  */
/* ========== events*/

/* === КОНТЕЙНЕР === */
.container {
  width: 100%;
  max-width: 1196px;
  margin: 0 auto;
  overflow: hidden;
}

/* === ОБЩИЙ СТИЛЬ ДЛЯ КАРТИНОК === */
.eventImg {
  width: 100%;
  height: 153px;
  object-fit: cover;
}

/* === ЗАГОЛОВКИ === */
.mainPoints {
  font-size: 28px;
  font-weight: bold;
  line-height: 36px;
}

/* === КНОПКА ГОРОДА === */
.caMuntainBtn {
  width: 239px;
  height: 44px;
  border: none;
  border-radius: 8px;
  color: #00798a;
  background-color: #97cad124;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  cursor: pointer;
}

.caMuntainBtn img {
  width: 22px;
  height: 22px;
}

/* === ССЫЛКА "SEE ALL" === */
.seeAllA {
  text-decoration: none;
  color: #00798a;
  font-size: 16px;
}

/* === EVENTS (верхняя панель) === */
.events,
.onlineEvents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.events {
  margin-top: 28px;
}

.onlineEvents {
  margin-top: 40px;
}

.events-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* === СЕТКА КАРТОЧЕК === */
.eventCards,
.onlineCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
  margin-top: 28px;
  justify-content: space-between;
}

.eventCards > div,
.onlineCards > div {
  width: 100%;
  max-width: 272px;
  height: 399px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  justify-content: flex-start;
}

/* === НАЗВАНИЕ СОБЫТИЯ === */
.nameOfEvent {
  margin-top: 12px;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  font-weight: bold;
}

/* === ТЕГ/РАССТОЯНИЕ === */
.distance {
  margin-top: 8px;
  color: #707070;
  font-size: 14px;
  line-height: 20px;
}

/* === КАЛЕНДАРЬ + ДАТА === */
.eventTime {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 8px;
  font-size: 14px;
  color: #212121;
}

.eventTime img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  flex-shrink: 0;
}

.eventTime span {
  line-height: 20px;
  white-space: nowrap;
}
/* ========= */
.visitors {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.visitors img {
  width: 20px;
  height: 20px;
  margin-right: 2px;
  object-fit: contain;
}

.visitors span {
  font-size: 16px;
  color: #212121;
  margin-right: 15px;
  line-height: 24px;
}
@media (max-width: 393px) {
  .eventCards,
  .onlineCards {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .eventCards > div,
  .onlineCards > div {
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    height: auto;
    gap: 5px;
  }

  .eventImg {
    width: 97px;
    height: auto;

    object-fit: cover;
    flex-shrink: 0;
  }

  .eventCards > div > *,
  .onlineCards > div > * {
    flex-direction: ;
  }

  .eventTime,
  .visitors {
    flex-wrap: wrap;
  }

  .nameOfEvent {
    font-size: 10px;
  }
}
/* ============ */

.joinMeetup {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #97cad155;
  max-width: 1192px;
  height: 236px;
}

.metuupSingIn {
  max-width: 739px;
  height: 164px;
}

h4 {
  font-size: 28px;
  margin-bottom: 16px;
}

.metuupSingIn p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

.metuupSingIn button {
  width: 192px;
  height: 40px;
  background-color: #e32359;
  color: #ffffff;
  border-radius: 8px;
  border: none;
}

/* =========== */

.exploreCategories {
  margin: 0 auto;
  max-width: 1192px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 24px;
}

.CategoriesImg {
  max-width: 1192px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* ========== */

.metuupCity {
  margin: 0 auto;
  max-width: 1192px;
  height: 40px;
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  margin-bottom: 24px;
}

.metuupCity p {
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #707070;
}
