* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ffffff;
}
/* =========navigation bar  */

nav {
  display: flex;
  align-items: center;
  margin: 15px 49px 0 24px;
}

.menu {
  display: flex;
  font-size: 16px;
  width: 100%;
  gap: 20px;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.search-form {
  display: flex;
  align-items: center;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.searchEvents {
  height: 42px;
  width: 100%;
  max-width: 300px;
  font-size: 16px;
  padding-left: 30px;
  margin-left: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 8px 0 0 8px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  pointer-events: none;
}

.mountain-group {
  display: flex;
  align-items: center;
}

.mountainView {
  height: 42px;
  width: 100%;
  max-width: 254px;
  font-size: 16px;
  border: 1px solid #d9d9d9;
  border-right: none;
  padding: 0 10px;
}

.mountainBtn {
  background-color: #f65858;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mountainBtn img {
  width: 20px;
  height: 20px;
}

.language {
  font-size: 14px;
}

.languagePlanet {
  width: 20px;
  height: 20px;
}

.right-bar {
  display: flex;
  align-items: center;

  gap: 22px;
}

.bar {
  display: flex;
  align-items: center;
  gap: 4px;
}

.signup {
  background-color: #00798a;
  color: white;
  width: 83px;
  height: 36px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  text-decoration: none;
  color: black;
  font-size: 14px;
  width: 60px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 118px;
  height: 34px;
}

.mobile-search {
  display: none;
}

@media (max-width: 750px) {
  .search-form {
    display: none;
  }

  .mobile-search {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .mobile-search .input-wrapper {
    display: flex;
  }

  .searchEventsMobile {
    width: 300px;
    height: 42px;
    font-size: 14px;
    padding-left: 35px;
    border: 1px solid #d9d9d9;
    border-radius: 8px 0 0 8px;
    width: 300px;
  }

  .search-icon-mobile {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
  }

  .mountainBtnMobile {
    background-color: #f65858;
    border: none;
    width: 42px;
    height: 42px;
    border-radius: 0 8px 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -1px;
    cursor: pointer;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 7px 0 24px;
    gap: 5px;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav-content {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: auto;
  }
}

@media (max-width: 393px) {
  .search-form {
    display: none;
  }

  .mobile-search {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .mobile-search .input-wrapper {
    display: flex;
  }

  .searchEventsMobile {
    width: 300px;
    height: 42px;
    font-size: 14px;
    padding-left: 35px;
    border: 1px solid #d9d9d9;
    border-radius: 8px 0 0 8px;
    width: 300px;
  }

  .search-icon-mobile {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
  }

  .mountainBtnMobile {
    background-color: #f65858;
    border: none;
    width: 42px;
    height: 42px;
    border-radius: 0 8px 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -1px;
    cursor: pointer;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 7px 0 24px;
    gap: 5px;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav-content {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: auto;
  }

  .right-bar {
    gap: 19px;
  }

  .logo {
    width: 94px;
    height: 34px;
  }

  .login,
  .language {
    font-size: 12px;
  }

  .languagePlanet {
    width: 17px;
    height: 17px;
  }

  .signup {
    width: 71px;
    height: 30px;
    font-size: 12px;
  }
}
/* =========header  */
.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 70px;
  gap: 46px;
  padding: 0 15px;
}

.intrudiction {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 601px;
  max-width: 100%;

  min-width: 0;
}

.intrudiction h1 {
  font-size: 42px;

  text-align: left;
  line-height: 52px;
}

.eventDisc {
  font-size: 16px;

  text-align: left;
  line-height: 24px;
}

.joinMeetupBtn {
  width: 125px;
  height: 40px;
  background-color: #00798a;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 98px;
}

@media (max-width: 393px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
  }

  .joinMeetupBtn {
    width: 100px;
    height: 30px;
    font-size: 12px;
  }

  .intrudiction {
    gap: 20px;
  }

  .intrudiction h1 {
    font-size: 25px;
    width: 352px;
    line-height: 30px;
  }

  .eventDisc {
    font-size: 12px;
    width: 358px;
    line-height: 24px;
  }

  .headerImg {
    width: 215px;
    height: 152px;
  }
}

/* =========header  */

/* ========== events*/
/* === КОНТЕЙНЕР === */
.container {
  width: 100%;
  max-width: 1196px;
  margin: 0 auto;
  overflow: hidden;
}

/* === ОБЩИЙ СТИЛЬ ДЛЯ КАРТИНОК === */
.eventImg {
  width: 100%;
  height: 153px;
  object-fit: cover;
}

/* === ЗАГОЛОВКИ === */
.mainPoints {
  font-size: 28px;
  font-weight: bold;
  line-height: 36px;
}

/* === КНОПКА ГОРОДА === */
.caMuntainBtn {
  width: 239px;
  height: 44px;
  border: none;
  border-radius: 8px;
  color: #00798a;
  background-color: #97cad124;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  cursor: pointer;
}

.caMuntainBtn img {
  width: 22px;
  height: 22px;
}

/* === ССЫЛКА "SEE ALL" === */
.seeAllA {
  text-decoration: none;
  color: #00798a;
  font-size: 16px;
}

/* === EVENTS (верхняя панель) === */
.events,
.onlineEvents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.events {
  margin-top: 28px;
}

.onlineEvents {
  margin-top: 40px;
}

.events-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 393px) {
  .seeAllA {
    display: none;
  }

  .mainPoints {
    margin: 15px;
    font-size: 20px;
  }

  .caMuntainBtn {
    max-width: 164px;
    height: 30px;
    font-size: 14px;
    padding: 8px;
  }
}

/* === СЕТКА КАРТОЧЕК === */
.eventCards,
.onlineCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  gap: 30px;
  margin-top: 28px;
  padding: 9px;
}

.eventCards > div,
.onlineCards > div {
  width: 100%;
  max-width: 272px;
  height: 399px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  justify-content: flex-start;
}

/* === НАЗВАНИЕ СОБЫТИЯ === */
.nameOfEvent {
  margin-top: 12px;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  font-weight: bold;
}

/* === ТЕГ/РАССТОЯНИЕ === */
.distance {
  margin-top: 8px;
  color: #707070;
  font-size: 14px;
  line-height: 20px;
}

/* === КАЛЕНДАРЬ + ДАТА === */
.eventTime {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 8px;
  font-size: 14px;
  color: #212121;
}

.eventTime img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  flex-shrink: 0;
}

.eventTime span {
  line-height: 20px;
  white-space: nowrap;
}
/* ========= */
.visitors {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.visitors img {
  width: 20px;
  height: 20px;
  margin-right: 2px;
  object-fit: contain;
}

.visitors span {
  font-size: 16px;
  color: #212121;
  margin-right: 15px;
  line-height: 24px;
}
@media (max-width: 393px) {
  .eventCards,
  .onlineCards {
    grid-template-columns: 1fr;
    display: grid;
    justify-content: center;
  }
  .visitors {
    display: none;
  }
  .eventCards > div,
  .onlineCards > div {
    width: 100%;
    max-width: 370px;
    height: 64px;
    flex-direction: row;
    gap: 5px;
    border-bottom: 1px solid #c5c4c491;
  }

  .media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
  }

  .eventImg {
    max-width: 97px;
    height: auto;

    object-fit: cover;
    flex-shrink: 0;
  }
  .distance,
  .eventTime {
    line-height: 10px;
    margin-top: 0;
    font-size: 12px;
    flex-wrap: wrap;
  }

  .nameOfEvent {
    margin-top: 0;
    line-height: 14px;
    font-size: 14px;
  }
}
/* ============ */

.joinMeetup {
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #97cad141;
  max-width: 1196px;
  padding: 36px 14px 36px 56px;
}

.metuupSingIn {
  display: flex;

  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

/* Левая часть: текст */
.metuupSingIn h4 {
  font-size: 28px;
  margin-bottom: 16px;
}

.metuupSingIn p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

.metuupSingIn button {
  width: 192px;
  height: 40px;
  background-color: #e32359;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* Правая часть: изображение */
.joinImgSecond {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
  margin-left: auto;
}

.joinImgSecond img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 393px) {
  .joinMeetup {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .metuupSingIn {
    width: 100%;
  }

  .metuupSingIn h4 {
    font-size: 20px;
    line-height: 36px;
  }

  .metuupSingIn p {
    font-size: 12px;
    line-height: 24px;
    margin-top: 6px;
  }

  .metuupSingIn button {
    margin: 0 auto;
    width: 100%;
    max-width: 192px;
    height: 40px;
    margin-top: 12px;
  }

  .joinImgSecond {
    margin: 0 auto;
  }
  .joinImgSecond img {
    max-width: 238px;
  }
}
/* =========== */

.exploreCategories {
  margin: 0 auto;
  max-width: 1196px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 24px;
  padding: 15px;
}

.CategoriesImg {
  max-width: 1196px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
}

@media (max-width: 393px) {
  .exploreCategories {
    margin: 0;
  }

  .CategoriesImg {
    gap: 11px;
  }
}
/* ========== */

.metuupCity {
  margin: 0 auto;
  width: 100%;
  max-width: 1196px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  padding: 15px;
}

/* styles for two p  */
.metuupCity p {
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #707070;
}

@media (max-width: 393px) {
  .metuupCity p {
    display: none;
  }
}

/* ========= */

.metuupCitys {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: 28px;
  gap: 41px;
}

.metuupCitys span {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  text-align: center;
  line-height: 28px;
  font-weight: 500;
}

.metuupCitys span img {
  display: block;
  max-width: 205px;
  height: auto;
  margin-bottom: 24px;
}

@media (max-width: 393px) {
  .metuupCitys span img {
    display: block;
    max-width: 153px;
    height: auto;
    margin-bottom: 18px;
  }

  .metuupCitys {
    gap: 20px;
  }

  .miami-item {
    display: none !important;
  }
}

/* =========how metuup works */

.containerMetuup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin: 15px;
}

.metuupWorks {
  width: 100%;
  max-width: 580px;
  background-color: #97cad141;
  display: flex;
  align-items: center;
  gap: 24px;
}

h5 {
  font-size: 20px;
}

.metuupWorks img {
  margin: 24px 0 75px 24px;
}

.metuupWorks p {
  color: #212121;
  font-size: 16px;
  margin: 16px 0 16px 0;
}

.grEvents {
  text-decoration: none;
  color: #00798a;
  font-size: 16px;
}

@media (max-width: 800px) {
  .containerMetuup {
    display: flex;
    flex-direction: column;
  }

  h5 {
    font-size: 17px;
    line-height: 15px;
  }

  .metuupWorks p {
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0 10px 0;
  }

  .grEvents {
    font-size: 10px;
    line-height: 15px;
  }

  .metuupWorks img {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 393px) {
  .containerMetuup {
    display: flex;
    flex-direction: column;
  }

  h5 {
    font-size: 12px;
    line-height: 15px;
  }

  .metuupWorks p {
    font-size: 10px;
    line-height: 15px;
    margin: 10px 0 10px 0;
  }

  .grEvents {
    font-size: 10px;
    line-height: 15px;
  }

  .metuupWorks img {
    width: 25px;
    height: 25px;
  }
}
/* 
======= last section friends */

.friendsContainer {
  margin: 0 auto;
  max-width: 1192px;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin-top: 38px;
  padding: 15px;
}

h6 {
  margin-top: 24px;
  font-size: 18px;
  line-height: 28px;
}

.friendsContainer p {
  font-size: 16px;
  line-height: 24px;
  color: #707070;
  margin: 12px 0 16px 0;
}

.friendsContainer a {
  font-size: 16px;
}

.friendsContainer > div {
  flex: 0 1 375px;
  max-width: 100%;
}

.friendsContainer img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 393px) {
  .friendsContainer {
    display: flex;
    flex-direction: column;
  }

  .h6 {
    font-size: 16px;
  }
  .friendsContainer p {
    font-size: 12px;
    margin: 11px 0 15px 0;
  }

  .friendsContainer img {
    max-width: 360px;
  }

  .metuupCity {
    margin: 0;
  }

  .friendsContainer a {
    font-size: 10px;
  }
}

/* ======footer  */

footer {
  padding: 0 15px;
  margin-top: 53px;
  background-color: #212121;
}

.footerContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1196px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footerTop {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 24px;
  font-weight: bold;
  border-bottom: 1px solid #c5c4c491;
  padding-bottom: 25px;
}

.footerTop button {
  width: 119px;
  height: 44px;
  background-color: #212121;
  color: #f6f7f8;
  border: 2px solid #f6f7f8;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.footerTop p {
  font-size: 16px;
  line-height: 24px;
  color: #f6f7f8;
}

.footerNav {
  display: flex;
  gap: 242px;
  flex-wrap: wrap;
}

.footerNav ul {
  list-style: none;
  color: #f6f7f8;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footerNav a {
  text-decoration: none;
  color: #c5c4c4;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
}

.footerSocial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: #f6f7f8;
  flex-wrap: wrap;
}

.social-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.social-icons {
  display: flex;
  gap: 32px;
}

.footerBottom {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
}

.footerBottom a {
  color: #c5c4c4;
  text-decoration: none;
  font-size: 14px;
}

@media (max-width: 800px) {
  footer {
    padding: 13px;
  }

  .footerNav {
    gap: 120px;
  }

  .footerBottom {
    gap: 17px;
  }
  .footerBottom a {
    font-size: 12px;
  }
}

@media (max-width: 590px) {
  footer {
    padding: 0 11px;
  }
  .footerNav {
    gap: 43px;
  }

  .footerBottom {
    gap: 10px;
  }

  .footerBottom a {
    font-size: 10px;
  }
}

@media (max-width: 393px) {
  footer {
    padding: 0 11px;
  }
  .footerNav {
    gap: 40px;
  }

  .social-right {
    display: none;
  }

  .footerBottom a {
    display: none;
  }
}

/* =======html2 */
.map-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1196px;
  margin: 0 auto;
  gap: 40px;
  padding-top: 40px;
}

.filter-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 460px;
  padding: 15px;
}

.filter-title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;
}

.filters {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filters li {
  font-size: 16px;
  margin-bottom: 8px;
  color: #333;
}

.map-section {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.map-text {
  margin-bottom: 20px;
}

.find-title {
  font-size: 12px;
  margin-bottom: 4px;
}

.find-location {
  font-size: 20px;
  font-weight: bold;
}

.google-map {
  width: 350px;
  height: 280px;
  border: 0;
}

.eventTitle {
  color: #00798a;
  font-size: 20px;
  border-bottom: 3px solid #00798a;
  width: 65px;
}

@media (max-width: 750px) {
  .map-section {
    display: none;
  }

  .filter-title {
    font-size: 25px;
  }
}

/* filter/////// */

.filter-wrapper {
  position: relative;
  display: inline-block;
}

.filter-buttons {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.filter-btn {
  background-color: #f6f7f8;
  border: none;
  border-radius: 40px;
  padding: 16px 18px;
  font-size: 14px;
  color: #212121;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.filter-btn:hover {
  background-color: #eaeaea;
}

.arrow {
  margin-left: 4px;
  font-size: 10px;
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  list-style: none;
  padding: 8px 0;
  margin-top: 4px;
  width: max-content;
  min-width: 160px;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-list li {
  padding: 10px 16px;
  cursor: pointer;
  font-size: 14px;
  color: #212121;
  font-weight: 500;
}

.dropdown-list li:hover {
  background-color: #f6f7f8;
  border-radius: 20px;
}

@media (max-width: 393px) {
}
/* ======== */
.eventContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1196px;
  margin: 0 auto;
  margin-top: 35px;
}

.eventsNy {
  display: flex;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid #c5c4c4;
  padding-bottom: 40px;
  max-width: 460px;
}

.passionImg {
  width: 159px;
  height: 105px;
  object-fit: cover;
  flex-shrink: 0;
}

.infoNYC {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 430px;
}

.infoNYC p:nth-child(1) {
  color: #7c6f50;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.infoNYC p:nth-child(2) {
  color: #212121;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
}

.infoNYC p:nth-child(3) {
  color: #707070;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

@media (max-width: 393px) {
  .passionImg {
    width: 98px;
    height: 56px;
  }

  .infoNYC p:nth-child(1) {
    font-size: 9px;
    line-height: 12px;
  }

  .infoNYC p:nth-child(2) {
    font-size: 10px;
    line-height: 14px;
  }

  .infoNYC p:nth-child(3) {
    font-size: 8px;
    line-height: 12px;
  }

  .infoNYC {
    gap: 2px;
    max-width: 370px;
  }

  .eventsNy {
    gap: 7px;
    padding-bottom: 38px;
  }
}

/* ======= stules from js  */
